.Navbar {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 40px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.Navbar h1 {
    font-size: 50px;
    font-weight: bolder ;
}

.Navbar ul {
    display: flex;
    
}

.Navbar ul li {
    color: rgb(105, 104, 104);
    padding: 15px;
    font-size: 20px;
}
.Navbar ul li:hover{
    cursor: pointer;
    color: rgb(218, 90, 15);
}